{% load static %}
<!Doctype html>
<html lang="en">
<head>
  
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <title>Login</title>
</head>
<body>
  <div class="form-box">
    <h1>Log in</h1>
    {%if form.errors %}
    <p>Username or password are incorrects. Please try again</p>
    {% else %}
    <p>Please Log-in</p>
    {% endif %}

    <form action= '{% url "login" %}' method="post">
      <input type="text" name="username" placeholder="Username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
      <input type="password" name="password" placeholder="password" autocomplete="current-password" required="" id="id_password">
      {% csrf_token %}
      <input type="hidden" name= "next" value= "{{next}}"/>
      <div class="botton-login">
        <input type="checkbox" id="Rem">
        <label for="Rem">Remember me</label>
        <a href="{% url "password_reset" %}">Forgotten your password?</a>

        <input type="submit" value="login">
        <a href="/register_store"><input type="button" value="Sing up"></a>
      </div>
    </form>
  </div>
</body>
</html>
