{% load static %}
<!Doctype html>
<html class="no-js" lang="en">
<head>
  <title>Reset done</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  
  <div class="fondo">
    <div class="form-box">
      {% if validlink %}    
      <h1>Change your password</h1>
      {%if form.errors %}
      <p>Passwords don't match</p>
      {% else %}
      <p>Please enter your new password twice:</p>    
      {% endif %}

      <div>
        <form method="post">
          <input type="password" name="new_password1" placeholder="Password" autofocus="" autocapitalize="none" autocomplete="new-password" maxlength="150" required id="id_new_password1">
          <input type="password" name="new_password2" autocomplete="new-password" autofocus="" autocapitalize="none" placeholder="Confirm password" maxlength="150" required id="id_new_password2">
          {% csrf_token %}
          <input type="submit" value="Change">
        </form>
      </div>
      
    </div>
    {% else %}
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
  </div>
</body>
</html>
