{% load static %}
<!Doctype html>
<html class="no-js" lang="en">
<head>
  <title>Reset</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
  <div class="fondo">
    <div class="form-box">
      <h1>Password reset</h1>
      {%if form.errors %}
      <p>Wrong email</p>
      {% else %}
      <p>Please enter your email adress</p>
      {% endif %}
      <form method="post">
        <input type="text" name="email" placeholder="Email" autofocus="" autocapitalize="none" autocomplete="email" maxlength="150" required="" id="reset_email">
        {% csrf_token %}
        <div class="botton-login"></div>
        <input type="submit" value="Reset">
      </form>
    </div>
  </div>
  </div>
  </body>
  </html>