{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load auth_extras %}
    <link rel="stylesheet" href="{% static 'main_menu/css/fontello.css' %}">  <--! LINK ICONOS-->
    <link rel="stylesheet" href="{% static 'main_menu/css/style.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scale=no, initial-scale=1,maximum-scale=1, minimum-scale=1">
    <title>Main menu</title>
  </head>
  <body>
    <header>
      <div class="contenedor">
        <a class="icon-gamepad" href="{% url '' %}">  Game Designer Enterprise</a>
        <input type="checkbox" id="menu-bar">
        <label for="menu-bar" class="icon-menu"></label>
        <nav class="menu">
          <a href="#">About us</a>
          {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
            {% if request.user|has_group:"Store" %}
              <a class="icon-basket" href="store/"> Store</a>
              <a href="{% url 'edit_store' %}" >{{user.username}}</a>
              <a href="{% url 'edit_store' %}" ><img src="{{ user.store.photo.url }}"></a>
            {% elif request.user|has_group:"Dispatcher"%}
              <a href="{% url 'edit_dispatcher' %}" >{{user.username}}</a>
              <a href="{% url 'edit_dispatcher' %}" ><img src="{{ user.dispatcher.photo.url }}"></a>
            {% elif request.user|has_group:"Admin"%}
              <a href="{% url 'edit_admin' %}" >{{user.username}}</a>
            {% endif %}
          {% else %}
            <a class="label" href="{% url 'login' %}">Login</a>
          {% endif %}
        </nav>
      </div>
    </header>
      <main>
      <section id="banner">

        <div class="contenedor">
          <h2>Game Designer Enterprise</h2>
          <p>Your perfect store</p>
          <div class="labels">
            <a href="package/">Packages</a>
            <a href="videogame/">Videogames</a>
            <a href="dlc/">Dlc's</a>
          </div>
          <div class="slider">
            <ul>
              <li><img src="img/1.jpg" alt="imagen1"></li>
              <li><img src="img/2.jpg" alt="imagen2"></li>
              <li><img src="img/3.jpg" alt="imagen3"></li>
              <li><img src="img/4.jpg" alt="imagen4"></li>
            </ul>
          </div>
        </div>
      </section>

    </main>
    <footer>
      <div class="contenedor">
        <p class="designer"> Designed By Santiago Diaz & Santiago Alvarez & Nicolas Velandia</p>
        <div class="socials">
          <a href="https://www.facebook.com/Santiagodj1/" class="icon-facebook-squared" style= 'color: #1F68CA'></a>
          <a href= "http://www.instagram.com/santiago_jinete/" class="icon-instagram" style= 'color:linear-gradient(top, red, gold);'></a>
          <a href="#" class="icon-twitter" style= 'color:lightblue'></a>
        </div>
      </div>
    </footer>
  </body>
</html>
