body,html{
  height: 100%;
  width: 100%;
}

body{
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

body:before{
  content: '';
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("img/back.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}


.form-box{
  top: 0;
  left: 0;
  position: relative;
  margin-bottom: 50px;
  filter: none;
  background: rgba(38,42,58,0.6);
  background-size: cover;
  float: right;
  width: 100%;
  height: 110%;
  padding: 40px;
  text-align: center;
}

.form-box input[type="text"],
.form-box input[type="email"],
.form-box input[type="password"]{
  border: none;
  color: white;
  background: none;
  display: block;
  margin: 15px auto;
  padding: 7px 3px;
  text-align: center;
  border-bottom: 3px solid #585A61;
  outline: none;
  width: 200px;
  transition: 0.259s;
}

.form-box input[type="text"]:focus,
.form-box input[type="email"]:focus,
.form-box input[type="password"]:focus{
  width: 230px;
  border-bottom: 3px solid #7A7C83;
}

.form-box input[type="submit"]{
  background: none;
  color: #585A61;
  display: block;
  transform: translateY(50%);
  margin: auto;
  padding: 7px 3px;
  text-align: center;
  border: 3px solid #585A61;
  outline: none;
  width: 120px;
}

.form-box input[type="submit"]:hover{
  cursor: pointer;
  color: #ffffff;
  border: 3px solid #7A7C83;
  background-color: #7A7C83;
  transition: 0.2s;
  font-size: 125%;
}

.form-box select{
  margin-bottom: 20px;
  border: none;
  background: #585A61;
  text-align: center;
  padding: 5px;
  color: #fff;
  width: 200px;
  height: 40px;
  font-size: 16px;
  box-shadow: 0 5px 25px rgba(0,0,0,0.5);
  -webkit-appearance: button;
  outline: none;
}

.form-box input[type="file"]{
  display: none;
}

.form-box-select label{
  color: #566369;
  height: 60px;
  width: 200px;
  padding: 5px;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  border: 3px solid #566369;
}

.form-box-select label:hover{
  color: white;
  cursor: pointer;
  transition: 0.2s;
  font-size: 125%;
  background-color: #585A61;
  border: 3px solid #585A61;
}

.form-box h1{
  font-weight: 500;
  font-size: 700%;
  color: #fff;
  margin-bottom: 10px;
}

.form-box p{
  color: #fff;
  font-size: 250%;
}

.form-box a{
  border: none;
  font-weight: 500;
  margin-left: 50px;
  color: #fff;
  text-decoration: none;
}
