@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
@import url(main_menu/css/menu.css);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.menu img{
  width: 100%;
  height: 100%;
  max-width: 30px;
  max-height: 30px;
  border-radius: 30px;
}

body{
  font-family: 'Ubuntu', sans-serif;
  background-image: url("/static/main_menu/img/banner.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.icon-gamepad{
  margin-top: 5px;
  float: left;
  color: white;
  font-size: 30px;
  text-decoration: none;
  font-family: 'Lobster', cursive;

}


header{
  width: 100%;
  height: 50px;
  background: #333;
  color: #fff;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

h1{
  float: left;
}

.contenedor{
  width: 98%;
  margin: auto;
  display: table;
}

@media(min-width:1700px){
  .contenedor{
    width: 1700px;
  }
}

.slider{
  border: 4px solid white;
  width: 58%;
  margin: auto;
  margin-bottom: 20px;
  overflow: hidden;
  animation: color 13s infinite;
  animation-direction: alternate;
}

.slider ul {
  display: flex;
  padding: 0;
  width: 400%;

  animation: cambio 13s infinite;
  animation-direction: alternate;
}

.slider li{
  width: 100%;
  list-style: none;
}

.slider img{
  width: 100%;
}

@keyframes cambio {
  0% {margin-left: 0%;}
  20% {margin-left: 0%;}

  25% {margin-left: -100%;}
  45% {margin-left: -100%;}

  50% {margin-left: -200%;}
  75% {margin-left: -200%;}

  80% {margin-left: -300%;}
  100% {margin-left: -300%;}
}

@keyframes color {
  0% {border: 4px solid lightgreen;}
  20% {border: 4px solid lightgreen;}
    
  25% {border: 4px solid purple;}
  45% {border: 4px solid purple;}

  50% {border: 4px solid lightblue;}
  75% {border: 4px solid lightblue;}

  80% {border: 4px solid white;}
  100% {border: 4px solid white;}

}

.content{
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 65px;
  margin-bottom: 20px;
  display: block;
  text-align: center;
  color: #fff;
}

.content h2{
  font-size: 30px;
}

.labels{
  align-items: center;
  justify-content: center;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 7px 5px;
}

.labels a{
  width: 150px;
  color: white;
  text-decoration: none;
  padding: 6px;
  margin-top: 9px;
  animation: color 13s infinite;
  animation-direction: alternate;
}

.labels a:hover{
  background: rgba(51,51,51,0.5);
}

.socials{
  width: 100%;
  text-align: center;
  font-size: 28px;
  margin-bottom: 50px;
}

.socials a{
  color: white;
  text-decoration: none;
}
.socials a:hover{
  cursor: pointer;
  transition: 0.2s;
  font-size: 50px;
}
.designer{
  font-size: 20px;
  text-align: center;
  color: white;
}
