{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load auth_extras %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'main_menu/css/fontello.css' %}">
    <link rel="stylesheet" href="{% static 'style3.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>order {{OD}}</title>
  </head>
  <header>
    <div class="contenedor">
      <a class="icon-gamepad" href="{% url '' %}">  Game Designer Enterprise</a>
      <input type="checkbox" id="menu-bar">
      <label for="menu-bar" class="icon-menu"></label>
      <nav class="menu">
        <a href="#">About us</a>
        {% if user.is_authenticated %}
          <a href="{% url 'logout' %}">Logout</a>
          {% if request.user|has_group:"Store" %}
            <a class="icon-basket" href="store/"> Store</a>
            <a href="{% url 'edit_store' %}" > {{user.username}}</a>
            <a href="{% url 'edit_store' %}" ><img src="{{ user.store.photo.url }}"></a>
          {% elif request.user|has_group:"Dispatcher"%}
            <a href="{% url 'edit_dispatcher' %}" > {{user.username}}</a>
            <a href="{% url 'edit_dispatcher' %}" ><img src="{{ user.dispatcher.photo.url }}"></a>
          {% elif request.user|has_group:"Admin"%}
            <a href="{% url 'edit_admin' %}" > {{user.username}}</a>
          {% endif %}
        {% else %}
          <a class="label" href="{% url 'login' %}">Login</a>
        {% endif %}
      </nav>
    </div>
  </header>
  <body>
    <div class="content">
      {% block content %}
        <article class="media content-section">
          <div class="media-body">
            <h2><a class="article-title" href="#">Order : {{ OD }}</a></h2>
            <p>
                STORE: {{OD.user.first_name}}
                <br>
                  DELIVER TO: {{OD.user.store.street_name}}, {{OD.user.store.street_number}}
                <br>
                  CITY: {{OD.user.store.city}}
                <br>
                  STORE PHONE: {{OD.user.store.phone}}
                <br>
              </p>
            <div class="IDK">
              {% if OD.dispatcher.user == user %}
                <div class="IDLLLL">
                  <a class="btn btn-outline-success btn-sm mt-1 mb-1" href="{% url 'confirm_order' OD.id %}"> Delivered</a>
                </div>
              {%endif%}
            </div>
            <div class="IDLLLL">
              <a class="btn btn-success btn-sm mt-1 mb-1" href="{%url 'list_orders' %}">Back</a>
            </div>
          </div>
        </article>
      {% endblock %}
    </div>
  </body>
</html>
