{% load static %}
<!Doctype html>
<html class="no-js" lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'main_menu/css/fontello.css' %}">
<link rel="stylesheet" href="{% static 'register_store.css' %}">
<style>
  .content-section{
    position: absolute;
  }

  p, h1{
    color: white;
  }

</style>
<head>
  <title>edit_admin</title>
</head>
{% if messages %}
<ul class= "messages">
    {%for message in messages%}
    <li class="{{message.tags}}">
        {{message|safe}}
        <a href="#" class="close">X</a>
    </li>
    {%endfor%}
</ul>
{%endif%}
<body>
    {% block content %}
      <div class="content-section">
        <form method="POST" action ="" enctype="multipart/form-data">
          {% csrf_token %}
          <h1 class="border-bottom mb-4"> EDIT </h1>
          {{ user_form.as_p }}
          <div class="form-group">
            <button class="btn btn-success" type="submit" name="button">Upload</button>
          </div>
        </form>
      </div>
    {% endblock %}

    <script src="{% static 'js/jquery-slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
