{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load auth_extras %}
    <link rel="stylesheet" href="{% static 'main_menu/css/fontello.css' %}">
    <link rel="stylesheet" href="{% static 'style2.css' %}">
    <meta charset="utf-8">
    <title>Videogames</title>
  </head>
  <header>
    <div class="contenedor">
      <a class="icon-gamepad" href="{% url '' %}">  Game Designer Enterprise</a>
      <input type="checkbox" id="menu-bar">
      <label for="menu-bar" class="icon-menu"></label>
      <nav class="menu">
        <a href="#">About us</a>
        {% if user.is_authenticated %}
          <a href="{% url 'logout' %}">Logout</a>
          {% if request.user|has_group:"Store" %}
            <a class="icon-basket" href="store/"> Store</a>
            <a href="{% url 'edit_store' %}" > {{user.username}}</a>
            <a href="{% url 'edit_store' %}" ><img src="{{ user.store.photo.url }}"></a>
          {% elif request.user|has_group:"Dispatcher"%}
            <a href="{% url 'edit_dispatcher' %}" > {{user.username}}</a>
            <a href="{% url 'edit_dispatcher' %}" ><img src="{{ user.dispatcher.photo.url }}"></a>
          {% elif request.user|has_group:"Admin"%}
            <a href="{% url 'edit_admin' %}" > {{user.username}}</a>
          {% endif %}
        {% else %}
          <a class="label" href="{% url 'login' %}">Login</a>
        {% endif %}
      </nav>
    </div>
  </header>
    <div>
    <a href="{%url 'package_create' %}">Create a new package!</a>
  <p>Packages</p>

    </div>
  <div>
  {% for PCK in PCK %}
    <h2>
      <!--<a href="{{ post.get_absolute_url }}">-->
      <a href="{% url 'package_detail' PCK.package_name %}"> {{ PCK.package_name }} </a>
    </h2>
    <p>
        Published by: {{PCK.administrator}}

    </p>
  {% endfor %}


</div>
  </header>
 
</html>
